<div class="channels" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile *ngFor="let channel of channels" [style.background]="channel.color" [style.color]="'#fff'"
      routerLink="/channel-detail/{{channel.id}}">
      {{channel.name}}
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="loading-indicator" *ngIf="showSpinner">
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>